.section-about {
    background-color: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-feature {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg); // creates diagonal on edges of background image
    margin-top: -10rem; // raise section to remove blank space

    & > * { // style direct child of element * = universal selector (direct child of section)
        transform: skewY(7deg); // straightens back the feature boxes of section feature
    }
}

.section-tours {
    background-color: #f7f7f7;
    padding: 25rem 0 50rem 0;
    margin-top: -10vh;
}